body{
    background-color: rgb(214, 214, 214);
}
.btn{
    background-color: rgb(184, 150, 0);
    background: aqua;
    display: flex;
    justify-content: center
};
.container-nav {
    background-color: aqua;
}
.test1{
    background-color: aquamarine;
}
.test2{
    background-color: rgb(255, 214, 127);
}
.test3{
    background-color: rgb(255, 127, 127);
}